    @import url('https://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
    * {
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    html {
        background: #dddddd;
        position: absolute;
    }

    #header {
        color: white;
        background-image: url("https://raw.githubusercontent.com/fernandadagostin/FCC-Product_Landing_Page/master/images/Background-Title.jpg");
        background-color: #3A3F45;
        width: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-info {
        max-width: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    /* --- Logo --- */

    #header-img {
        max-width: 60%;
    }

    #title {
        font-size: 400%;
        display: none;
    }

    #title-text {
        font-family: 'Shadows Into Light', cursive;
        text-shadow: 2px 2px 4px #000000;
        font-size: 16px;
        font-weight: bolder;
        padding-bottom: 30px;
    }

    #nav-bar {
        overflow: hidden;
        background-color: #3A3F45;
    }

    #nav-bar ul {
        list-style-type: none;
        text-align: center;
    }

    #nav-bar ul li {
        float: left;
        width: 33%;
    }

    #nav-bar ul li a {
        display: block;
        font-weight: 500;
        text-decoration: none;
        color: rgb(9, 168, 207);
        padding: 10px 0 10px 0;
    }

    a:hover {
        background-color: rgba(163, 83, 25, 0.637);
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    /* ---- below nav-bar ---- */

    .content {
        width: 90%;
        margin: auto;
        color: #565a5f;
    }

    /* --- video ---*/

    .video {
        margin: auto;
        text-align: center;
    }

    #video {
        width: 100%;
        padding-top: 30px;
        max-width: 560px;
    }

    /* --- section ---*/

    section h2 {
        padding-top: 60px;
        font-family: 'Lobster', cursive;
    }

    .block {
        display: flex;
        flex-direction: column;
    }

    .column {
        color: #565a5f;
        background-color: white;
        align-content: center;
        margin-top: 20px;
        padding: 17px;
        max-width: 600px;
    }

    .column img {
        width: 100%;
    }

    .column ul {
        padding: 10px 17px 0 17px;
        line-height: 1.6;
    }

    /* --- Form --- */

    .box {
        margin: auto;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        background-color: white;
        text-align: center;
        color: #565a5f;
        margin-bottom: 30px;
    }

    .row {
        display: flex;
        padding-bottom: 10px;
        padding-top: 10px;
        line-height: 1.5;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
    }

    .left {
        text-align: right;
    }

    .right {
        text-align: left;
    }

    .label, .input {
        width: 90%;
    }

    .label {
        display: inline-block;
        padding-right: 10px;
        text-align: right;
    }

    .input {
        height: 100%;
        background-color: whitesmoke;
    }

    .textarea {
        height: 10vw;
        min-width: 124px;
        min-height: 70px;
    }

    /*---------- button submit ----------*/

    #submit {
        background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
        width: 15vw;
        margin: 10px;
        padding: 5px 10px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        box-shadow: 0 0 20px #eee;
        border-radius: 3%;
        font-size: 100%;
        font-weight: bold;
        color: #565a5f;
        min-width: 100px;
    }

    #submit:hover {
        background-position: right center;
        color: #3A3F45;
    }

    /* ------- media > 480 ----- */

    @media (min-width: 480px) {
        #nav-bar ul li a {
            font-size: 120%;
        }
        section h2 {
            font-size: 200%;
        }
        #title-text {
            font-size: 120%;
        }
    }

    /* ------- media > 698 ----- */

    @media (min-width: 698px) {
        .block {
            flex-direction: row;
            margin-right: 0;
        }
        .between {
            margin-left: 20px;
            margin-right: 20px;
        }
        .input {
            margin: 0;
        }
    }